//цвета
$bgColor: #ffffff;
$mainText: #1b1c21;
$menuText: #7e7e82;
$pink: #ff3e79;
$active: #41f6d7;
$borderOfBlocks: #eaeaea;
$borderOfMenuTabs: #b8ffec;
$sideBarShadow1: rgba(69, 79, 126, 0.02);
$sideBarShadow2: rgba(14, 24, 80, 0.2);
